.contact {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/texture_brique.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
  }

  &__wrapper {
    padding: 8rem 1rem;
    max-width: $container;
    margin: auto;
  }

  &__title {
    font-family: $font-family-headings;
    letter-spacing: 0.75rem;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__info {
    margin-bottom: 3rem;
  }
}
