$primary: #0c0c0c;
$secondary: #deac7a;

$font-family-base: "Gotham", Times;
$font-weight-base: 400;

$font-family-headings: "Northern Worssley", Times;
$font-weight-headings: 700;

$container: 1200px;
$container-small: 800px;

$gutter: 1rem;

$breakpoint-l: 1100px;
$breakpoint-m: 850px;
$breakpoint-s: 450px;